
*{
    left: -23px;
    position: relative;
    margin-top: -67px;
    margin-left: -10px;
}



#c1 
{

    position: relative;
    width: 210px;
    height: 150px;
    border: double;
    border-color: black;
    padding-left: 10px;
    margin-left: 150px;
    margin-top: -450px;
    display: inline-flex;
    background-color: rgb(29, 187, 230);
    display: none;
}

#c2
{

    position: absolute;
    width: 200px;
    border: double;
    border-color: black;
    margin-left: 370px;
    padding-left: 30px;
    margin-top: -800px;
    display: inline-flex;
    background-color: rgb(229, 29, 29);
    display: none;

}

#c3 
{

    z-index: 1;
    position: relative;
    width: 200px;
    padding-left: 20px;
    border: double;
    border-color: black;
    margin-left: 1070px;
    margin-top: -800px;
    display: inline-flex;
    background-color: rgb(209, 164, 16);
    display: none;

}

#c4 
{

    position: absolute;
    width: 200px;
    border: double;
    padding-left: 20px;
    border-color: black;
    margin-left: 400px;
    margin-top: -995px;
    display: inline-flex;
    background-color: rgb(6, 118, 224);
    display: none;

}

#c5 
{

    position: absolute;
    width: 200px;
    border: double;
    padding-left: 20px;
    border-color: black;
    margin-left: 199px;
    margin-top: -717px;
    display: inline-flex;
    background-color: rgb(22, 177, 8);
    display: none;

}

#c6 
{

    position: absolute;
    width: 250px;
    padding-left: 10px;
    border: double;
    border-color: black;
    margin-left: 952px;
    margin-top: -960px;
    display: inline-flex;
    background-color: rgb(238, 0, 0);
    display: none;

}

#c7 
{

    z-index: 1;
    position: relative;
    width: 200px;
    padding-left: 20px;
    padding-bottom: 10px;
    border: double;
    border-color: black;
    margin-left: 1000px;
    margin-top: -717px;
    display: inline-flex;
    background-color: rgb(188, 22, 22);
    display: none;

}

#c8 
{

    position: absolute;
    width: 200px;
    border: double;
    border-color: black;
    margin-left: 516px;
    margin-top: -905px;
    display: inline-flex;
    background-color: rgb(226, 193, 2);
    display: none;

}

#c9 {
   
    position: absolute;
    width: 200px;
    border: double;
    border-color: black;
    margin-left: 1335px;
    margin-top: -804px;
    display: inline-flex;
    background-color: rgb(5, 127, 209);
    display: none;

}

#c10{

    position: absolute;
    width: 200px;
    border: double;
    border-color: black;
    margin-left: 1333px;
    margin-top: -988px;
    display: inline-flex;
    background-color: rgb(241, 225, 0);
    display: none;

}
