
.container
{
    display: flex;
    font-size: 1.2rem;
    margin-top: -7em;
    margin-right: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img#img1 
{
    shape-outside: border-box;
    padding-left: 1em;
    margin-top: 3.3000000000000007em;
    margin-left: 1em;
    float: right;
    width: 218px;
    aspect-ratio: auto 460 / 345;
    height: 132px;
}

img#img2 
{
    width: 166px;
    shape-outside: border-box;
    padding-top: 1em;
    padding-left: 1em;
    aspect-ratio: auto 460 / 345;
    height: 104px;
    float: right;
    margin-right: 0em;
    margin-left: 1em;
    margin-top: 7.300000000000001em;
}
.title 
{
    font-size: 3rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
}

.left 
{
    text-align: justify;
    display: block;
    padding-top: 5em;
    padding-left: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.right 
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-top: 5em;
    padding-left: 1em;
    text-align: justify;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


@media only screen and (max-device-width: 768px)
{
    .container
    {
        display: block;
        font-size: 1.2rem;
        margin-top: -12em;
        margin-right: 1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .title 
    {
        font-size: 1.5rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 20px;
        margin-inline-end: 8px;
    }

    .left 
    {
        text-align: justify;
        display: block;
        padding-top: 5em;
        padding-left: 1em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 6px;
    }

    .right 
    {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-top: 0em;
        padding-left: 1em;
        text-align: justify;
        margin-inline-start: 0px;
        margin-inline-end: 6px;
    }

    img#img1 
    {
        margin-top: 0.3em;
        margin-left: 1em;
        float: right;
        width: 226px;
        aspect-ratio: auto 460 / 345;
        height: 147px;
    }

    img#img2 
    {
        float: left;
        width: 201px;
        aspect-ratio: auto 460 / 345;
        margin-left: -1em;
        height: 102px;
        padding-right: 1em;
        margin-top: -0.7em;
    }

}


