
.container{
    font-size: 1.2rem;
    margin-top: 1rem;
    display:flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img#img1 {
    float: right;
    padding-left: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    shape-outside: border-box;
    image-rendering: pixelated;
    margin-left: 1rem;
    margin-top: 5rem;
    width: 20rem;
}

img#img2 {
    float: right;
    width: 10rem;
    padding-left: .8rem;
    shape-outside: border-box;
    image-rendering: pixelated;
    margin-left: 1rem;
    margin-top: 8.2rem;
}

.title {
    margin-left: 1rem;
    font-size: 2rem;
}

.left {
    width: 37.5rem;
    height: 6.25rem;
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

.right {
    width: 37.5rem;
    height: 6.25rem;
    text-align: justify;
    margin-left: .1rem;
}


@media screen and (max-width:600px)
{
    .title{
        margin-left: 0.1rem;
        font-size: 1rem;
    }

    .left{
        margin-left: 0.2rem;
        margin-top: -0.5rem;
        width: 10rem;
    }

    .right{
        margin-left: 11rem;
        margin-top: -6.2rem;
        width: 10rem;
    }

    .container{
        font-size: 0.3rem;
    }

    img#img1{
        margin-left: -0.8rem;
        margin-bottom: 0.5rem;
        margin-top: 2rem;
        width:5rem ;
    }

    img#img2{
        margin-left: -.5rem;
        margin-bottom: -.rem;
        margin-top: 2rem;
        width:2rem ;
    }
}
