
body{
    width: 100%;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box-containers{
    padding: 200px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.box1{
    position: relative; margin-top:-1%;
    background-color: hsl(0, 5%, 97%);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(85, 187, 231);
}

.c1-p1{
    font-size: 20px;
}
.c1-p3{
    font-size:30px
}



.c2-p1{
    font-size: 20px;
}
.c2-p2{
    font-size:30px
}


.c3-p1{
    font-size: 20px;
}
.c3-p2{
    font-size:30px
}

.most-popular{

    font-family: Arial, Helvetica, sans-serif;

    background-image: linear-gradient(to left,#47bce7 ,#30e782 );
    border-style: ridge;
    border-width: 1px;
    border-color: rgb(85, 187, 231);
}


.box2{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 214, 214);
}

.box3{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 214, 214);
}
.content1{
    padding: 100px;
}
.content2{
    padding: 60px;
}
.content3{
    padding: 67px;
}

h1{
    color: hsl(0,0%,95%);
    text-transform: uppercase;
    font-family: 'Lexend deca',sans-serif;
    margin: 20px 0;
}


.btn1{ 
    color: rgb(255, 255, 255);
    margin: 70px 0;
    padding: 25px 110px;
    border: 0;
    border-radius: 30px;
    outline: none;
    background-color: rgb(0, 0, 0);
    font-size: 17px;
    cursor: pointer;

}   

.btn2{
    margin: 75px 0;
    padding: 20px 115px;
    border-radius: 30px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.btn3{
    margin: 70px 0;
    padding: 20px 115px;
    border: 50;
    border-radius: 40px;
    outline: none;
    background-color: #fff;
    font-size: 17px;
    cursor: pointer;

}