
img {
    margin-top: 2rem;
    margin-left: 18rem;
    width: 57rem;
}

h2 {
    font-size: 30px;
    margin-top: -33rem;
    margin-left: 27rem;
}

#title2{
    margin-top: 0rem;
    margin-left: 25.5rem;
}

#text_all{
    font-size: 14px;
    margin-top: 1rem;
    margin-left: 25.5rem;
}
