
img {
    margin-top: 2rem;
    margin-left: 13rem;
    width: 49rem;
}

h2 {
    font-size: 30px;
    margin-top: -29rem;
    margin-left: 20rem;
}

#title2{
    margin-top: 0rem;
    margin-left: 18.5rem;
}

#text_all{
    font-size: 14px;
    margin-top: 1rem;
    margin-left: 18.5rem;
}